In [62]:
import pandas as pd
import numpy as np

In [63]:
df = pd.read_csv("bird_dino_data.csv")

In [64]:
df.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3)
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08

In [65]:
#creat a new colum for the whole brain

df["whole brain"] = df["Olfactory bulbs (cm3)"] + df["Cerebrum (cm3)"] + df["Optic Lobes (cm3)"] +df["Cerebellum (cm3)"]
df.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),whole brain
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06,1.899
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68,21.356
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15,13.946
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12,0.710
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08,2.113

In [66]:
#find the brain to cerebrum ratio, and body mass to brain (cm3 = g)
df["brain to cerebrum"] =df["Cerebrum (cm3)"]/df["whole brain"]
df.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),whole brain,brain to cerebrum
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06,1.899,0.805687
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68,21.356,0.787132
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15,13.946,0.794493
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12,0.710,0.577465
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08,2.113,0.743019

In [67]:
brain = df["whole brain"]
mass  = df["Body Mass (kg)"]
df["brain to body"]=(brain/1000)/mass
df.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),whole brain,brain to cerebrum,brain to body
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06,1.899,0.805687,0.094950
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68,21.356,0.787132,0.016949
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15,13.946,0.794493,0.006397
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12,0.710,0.577465,0.002840
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08,2.113,0.743019,0.211300

In [68]:
def convert(dino, length):
    if "therepod" == dino:
        return 10**(3.1854*np.log10(length)-3.184)/1000

In [69]:
convert("therepod", 295)

48.23597370021272

In [70]:
b_volume=25
femur=295
O_bulb=8
Cere_brum=38
O_lobes=29
Cere_bellum = 13

In [71]:
ourbrain= O_bulb+ Cere_brum+ O_lobes+ Cere_bellum
print(ourbrain)
mass=10**(3.1854*np.log10(femur)-3.184)/1000
print(mass)

88
48.23597370021272

In [83]:
#find the brain to body mass
brain_body= b_volume/(mass*1000)
#find the cerebrum to brain ratio
cereb_brain= Cere_brum/ourbrain

In [84]:
print(brain_body)
print(cereb_brain)

0.0005182853808523773
0.4318181818181818

In [74]:
df_B = df.loc[df["Bird vs Dino"]== "B"]
df_B.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),whole brain,brain to cerebrum,brain to body
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06,1.899,0.805687,0.094950
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68,21.356,0.787132,0.016949
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15,13.946,0.794493,0.006397
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08,2.113,0.743019,0.211300
7,8,B,0.90,0.234,5.95,0.99,0.96,0.55,8.134,0.731497,0.009038

In [75]:
df_B.mean()

Species ID               13.388889
Body Mass (kg)            3.932222
Olfactory bulbs (cm3)     0.055556
Cerebrum (cm3)            7.682778
Optic Lobes (cm3)         1.436667
Cerebellum (cm3)          1.371111
Brain Stem (cm3)          0.781667
whole brain              10.546111
brain to cerebrum         0.709443
brain to body             0.045170
dtype: float64

In [76]:
df_D = df.loc[df["Bird vs Dino"]== "D"]
df_D.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),whole brain,brain to cerebrum,brain to body
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12,0.710,0.577465,0.002840
5,6,D,85.96,0.569,9.52,3.60,5.16,3.78,18.849,0.505067,0.000219
6,7,D,0.50,0.077,0.60,0.36,0.24,0.17,1.277,0.469851,0.002554
9,10,D,12.61,0.028,3.71,1.31,1.60,2.17,6.648,0.558063,0.000527
14,15,D,49.30,1.080,14.81,4.75,3.16,2.35,23.800,0.622269,0.000483

In [77]:
df_D.mean()

Species ID               12.000000
Body Mass (kg)           23.641429
Olfactory bulbs (cm3)     0.266714
Cerebrum (cm3)            4.577143
Optic Lobes (cm3)         1.678571
Cerebellum (cm3)          1.580000
Brain Stem (cm3)          1.331429
whole brain               8.102429
brain to cerebrum         0.547934
brain to body             0.001400
dtype: float64

In [78]:
cb_bird = df_B["brain to cerebrum"].mean()
print(cb_bird)
bb_bird = df_B["brain to body"].mean()
print(bb_bird)

0.7094430277327214
0.045170238698633944

In [79]:
cb_dino = df_D["brain to cerebrum"].mean()
print(cb_bird)
bb_dino = df_D["brain to body"].mean()
print(bb_dino)

0.7094430277327214
0.0014002983908859297

In [80]:
print(brain_body)
print(cereb_brain)

518.2853808523772
0.4318181818181818

In [92]:
if abs(cereb_brain-cb_dino) > abs(cereb_brain-cb_bird):
    print("Cerebrum/brain ratio predicts: bird")
elif abs(cereb_brain-cb_dino) < abs(cereb_brain-cb_bird):
    print("Cerebrum/brain ratio predicts: dino")

Cerebrum/brain ratio predicts: dino

In [94]:
if abs(brain_body-cb_dino) > abs(brain_body-cb_bird):
    print("brain/body ratio predicts: bird")
elif abs(brain_body-cb_dino) < abs(brain_body-cb_bird):
    print("brain/body ratio predicts: dino")

brain/body ratio predicts: dino